@{
    ViewData["Title"] = "Home Page";

    var alert="bu bir uyarı mesajıdır.";
}

@section Css
{
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

    <style>
        h1
        {
            color:red;
            background-color:blue;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
    
        //alert="Sayfamıza hoş geldin."
        $(document).ready(function(){
            console.log("sayfamıza hoş geldin.");
        })

    </script>
}

<h1>Merhaba Dünya</h1>
<h2>Merhaba ASP .Net</h2>

@*<partial name="_MenuPartialView" />
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")*@